@model IEnumerable<Iskra_Marks_App.Web.ViewModels.CountryViewModel>

@{
    ViewBag.Title = "Countries";
}

<div class="well">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    @Html.DisplayFor(x => x)
</div>

