@model IEnumerable<Iskra_Marks_App.Web.ViewModels.MarkViewModel>

@{
    ViewBag.Title = "All Marks";
}
<div class="well">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    @Html.DisplayFor(x => x)
</div>

