@model IEnumerable<Iskra_Marks_App.Web.ViewModels.MarkViewModel>

@{
    ViewBag.Title = "Iskra's Marks";
}
<div class="well">
    <h1>@ViewBag.Title</h1>
</div>
<h3 class="expiration">Marks expirinig in 6 months !!!</h3>

<div class="row">
    @Html.DisplayFor(x => x)
</div>

