@model IEnumerable<Iskra_Marks_App.Web.ViewModels.MarkViewModel>

@{
<<<<<<< HEAD
    ViewBag.Title = "Marks expirinig in 6 months !!!";
}
<div class="well expiration">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    @if (Model.Any())
    {
        @Html.DisplayFor(x => x)
    }
    else
    {
        <h3 class="col-md-4 col-sm-6 col-xs-12">No Marks expirinig in 6 months</h3>
    }
</div>
=======
    ViewBag.Title = "Iskra's Marks";
}
<div class="well">
    <h1>@ViewBag.Title</h1>
</div>
<h3 class="expiration">Marks expirinig in 6 months !!!</h3>

<div class="row">
    @Html.DisplayFor(x => x)
</div>

>>>>>>> 02425e5f798bdde4cdec120ea93ea85095f428ab
